body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #EBF8FF;
    color: #495551;
}

#page {
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
}

#header {
    height: 65px;
    background-color: #C0EA6A;
    padding-left: 20px;
    padding-top: 15px;
    background-image: url("bg2.jpg");
}


#menu {
    height: 50px;
    background-color: #495551;
}

#content {
    height: 2000px;
    background-color: #FFFFFF;
    padding: 30px;
    background-image: linear-gradient(to bottom right, white, #B0F3F1);
}

p.a {
    text-align-last: center;
    letter-spacing: 5px;
}

#footer {
    height: 100px;
    background-color: #495551;
    padding-left: 50px;
    padding-top:10px;
    font-family: Garamond;
}

.oval-button {
    background-color: lightgray;
    border-radius: 50%;
    color: black;
    padding: 10px 20px;
}

.oval-button:hover {
        background-color: #4dd0e1;
}


.dropbtn {
    background-color: #C0EA6A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}


.dropdown-content a:hover {
background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}